research/data/my_valid.csv filter=lfs diff=lfs merge=lfs -text
research/data/my_train.csv filter=lfs diff=lfs merge=lfs -text
research/train/runs/Mar11_12-26-56_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/data/models/0_9028_ResNet18.pt filter=lfs diff=lfs merge=lfs -text
research/data/models/0_8897_ResNet18.pt filter=lfs diff=lfs merge=lfs -text
research/train/runs/Mar11_23-36-54_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18 filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18b2 filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet50 filter=lfs diff=lfs merge=lfs -text
research/train/runs/Mar14_13-26-56_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/MobileNetV1 filter=lfs diff=lfs merge=lfs -text
research/train/runs/MobileNetV2 filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18_19-42epochs filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18B filter=lfs diff=lfs merge=lfs -text
research/data/ filter=lfs diff=lfs merge=lfs -text
research/train/runs/ filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet169ep1 filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet169From2Epoch filter=lfs diff=lfs merge=lfs -text
research/train/runs/Mar16_11-56-53_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/Mar16_12-34-14_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/MeNET456_1-21 filter=lfs diff=lfs merge=lfs -text
research/train/runs/MeNET45621+ filter=lfs diff=lfs merge=lfs -text
research/train/runs/Apr14_14-35-52_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/Apr13_14-23-54_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/Apr13_23-59-21_maxim-To-be-filled-by-O-E-M filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet169/* filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18_C_drop filter=lfs diff=lfs merge=lfs -text
research/train/runs/Dense121_C_96_96_drop_<20 filter=lfs diff=lfs merge=lfs -text
research/train/runs/Dense121_C_96_96_drop_20+ filter=lfs diff=lfs merge=lfs -text
research/train/runs/ResNet18_C_drop filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet121_C_drop_Train-Classifier filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet121_C_drop_Train-Net filter=lfs diff=lfs merge=lfs -text
research/train/runs/DenseNet169_C_drop filter=lfs diff=lfs merge=lfs -text
research/data/test_config.json filter=lfs diff=lfs merge=lfs -text
research/data/train_config.json filter=lfs diff=lfs merge=lfs -text
